body {
  font-family: 'Lora', serif;
  font-size: 2.3rem;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

@media(max-width: 767px) {
  h1 {
    font-size: 3.5rem;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Istok Web', sans-serif;
}

p {
  margin-bottom: 30px;
  text-align: justify;
}

.bottom-margin {
  margin-bottom: 30px;
}

img {
  width: 100%;
  border-radius: 2px;
}

img.map {
  display: block;
  margin-bottom: 20px;
}

.btn {
  font-family: Helvetica, serif;
  width: 400px;
  height: 60px;
  font-size: 2rem;
  line-height: 22px;
  padding: 15px;
  border-radius: 2px;
  font-family: 'Istok Web', sans-serif;
}

.button {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  display: inline-block;
  min-width: 110px;
  margin: 15px 5px;
  padding: 20px;
  font: 700 18px/1 'Open Sans', sans-serif;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
  cursor: pointer;
}

.button:hover, .button:active, .button:focus {
  text-decoration: none;
  color: white;
}

.button.pri { background: #59d }
.button.pri:hover { background: #48c }
.button.pri.ico:before { content: '\f004' }
.ico {
  position: relative;
  padding-left: 70px;
  text-align: left;
}
.ico:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  padding: 20px 10px;
  font-family: fontawesome;
  text-align: center;
  border-radius: 2px 0 0 2px;
  background: rgba(0,0,0,.15);
}

@media(max-width: 767px) {
  .btn {
    width: 100%;
  }
}
